asgiref==3.8.1
Django==5.0.6
django-prometheus==2.3.1
django-sslserver==0.22
djangorestframework==3.15.1
djangorestframework-jwt==1.11.0
prometheus_client==0.20.0
psycopg2==2.9.9
PyJWT==1.7.1
sqlparse==0.5.0
